lib-loading,
:host {
  .loading {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100000;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
  }
  svg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 48px;
    height: 60px;
  }
  svg path,
  svg rect {
    fill: #48e7d2;
  }
}
