<div class="team">
  <lib-box class="cursor-pointer" color="grey" [routerLink]="['/team', team.idTeam, 'players']">
    <img class="img-thumbnail" [src]="team.strTeamBadge" />
    <div class="text-center text-bold m-t-xs">{{ team.strTeam }}</div>
  </lib-box>
</div>
