<footer class="footer">
  <div class="container h-100">
    <div class="row h-100 p-t-sm p-b-sm">
      <div class="col-lg my-auto mx-auto text-left">
        <i class="fas fa-map-marker-alt fa-3x c-green float-left m-r-sm"></i>
        <span>
          YSO Corp - 2 rue de Malleville,<br />
          95880 Enghien-Les-Bains
        </span>
      </div>
      <div class="col-lg my-auto mx-auto text-center">©2019 YSO Corp | {{ 'all rights reserved' | translate | ucFirst }}</div>
      <div class="col-lg my-auto mx-auto text-right">
        <a class="link" href="mailto:contact@ysocorp.com">
          <i class="fas fa-envelope"></i>
          {{ 'contact us' | translate | ucFirst }}
        </a>
      </div>
    </div>
  </div>
</footer>
