@import '../../../fdj-lib/assets/styles/utils.scss';

app-footer,
:host {
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 220px;
    color: fColor('cwhite');
    background-color: fColor('csecondary');
    a {
      color: fColor('cwhite');
    }
    p {
      margin: 0px;
    }
  }
}
