@import '../../../fdj-lib/assets/styles/utils.scss';

app-header,
:host {
  .header {
    .navbar {
      border-bottom: 1px solid #e1e1e1;
      padding: fPm('sm');
      background-color: fColor('cwhite');
      .navbar-brand {
        padding: 0px;
      }
      .nav-item {
        .nav-link {
          padding: fPm('sm');
        }
        .nav-link.active {
          color: fColor('cprimary');
        }
      }
    }
  }
}
