<header class="header">
  <nav class="navbar fixed-top navbar-expand-lg">
    <div class="container">
      <a class="btn btn-link-light navbar-brand" [routerLink]="['/']" [routerLinkActive]="['active']">
        <img src="fdj-lib/assets/img/fdj-logo.svg" height="54" alt="logo" />
      </a>
      <button
        class="btn navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="btn nav-link" href="mailto:contact@ysocorp.com">
              <i class="fas fa-envelope"></i>
              {{ 'contact us' | translate | ucFirst }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
