<div class="leagues">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="search-league">
          <i class="fas fa-search"></i>
      </span>
    </div>
    <input type="text" class="form-control" placeholder="{{ 'search league' | translate }}" name="search-league" aria-label="search-league" aria-describedby="search-league" [(ngModel)]="search" (ngModelChange)="onSearch($event)" />
  </div>
  <div class="m-b-xs" *ngFor="let league of filteredLeagues">
    <lib-box color="grey" [routerLink]="['/league', league.idLeague, 'teams']">
      {{ league.strLeague }}
    </lib-box>
  </div>
</div>
