@import './utils.scss';

.box-radius-small {
  padding: fPm('sm');
  border-radius: fPm('xs');
}

.box-radius-medium {
  padding: fPm('sm');
  border-radius: fPm('sm');
}

.box-radius-big {
  padding: fPm('sm');
  border-radius: fPm('md');
}

.box-gold {
  padding: fPm('sm');
  color: fColor('cwhite');
  background-color: fColor('cgold');
}
.box-grey {
  padding: fPm('sm');
  color: fColor('cdark');
  background-color: fColor('cgreylight2');
}
.box-light {
  padding: fPm('sm');
  color: fColor('cdark');
  background-color: fColor('cwhite');
}
.box-dark {
  padding: fPm('sm');
  color: fColor('cwhite');
  background-color: fColor('cdark');
}

.box-border-gold {
  padding: fPm('sm');
  color: fColor('cgold');
  border: 1px solid fColor('cgold');
}
.box-border-grey {
  padding: fPm('sm');
  color: fColor('cgreylight2');
  border: 1px solid fColor('cgreylight2');
}
.box-border-light {
  padding: fPm('sm');
  color: fColor('cwhite');
  border: 1px solid fColor('cwhite');
}
.box-border-dark {
  padding: fPm('sm');
  color: fColor('cdark');
  border: 1px solid fColor('cdark');
}

.box-break-top-left {
  border-top-left-radius: 0px;
}
.box-break-top-right {
  border-top-right-radius: 0px;
}
.box-break-bottom-left {
  border-bottom-left-radius: 0px;
}
.box-break-bottom-right {
  border-bottom-right-radius: 0px;
}
