@import './utils.scss';

.btn {
  border-radius: fPm('xs');
  padding: fPm('sm');
  font-size: 16px;
  line-height: inherit;
}

.btn,
.navbar-toggler {
  &:hover,
  &:active,
  &:focus,
  &:active:focus,
  &:visited {
    outline: none !important;
    box-shadow: none !important;
  }
}

.btn-w-small {
  min-width: fPm('lg');
}
.btn-w-medium {
  min-width: fPm('lg') + (fPm('lg') / 2);
}
.btn-w-large {
  min-width: fPm('xl');
}
.btn-w-full {
  min-width: 100%;
}

.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all 0.5s;
}

.btn-primary.btn-outline {
  color: fColor('cgold');
}
.btn-success.btn-outline {
  color: fColor('cblue');
}
.btn-info.btn-outline {
  color: fColor('cturquoise');
}
.btn-warning.btn-outline {
  color: fColor('corange');
}
.btn-danger.btn-outline {
  color: fColor('cred');
}
.btn-dark.btn-outline {
  color: fColor('cdark');
}
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover,
.btn-dark.btn-outline:hover {
  color: fColor('cwhite');
}

.btn-primary {
  background-color: fColor('cgold');
  border-color: fColor('cgold');
  color: fColor('cwhite');
}
.btn-primary:focus,
.btn-primary:hover,
.btn-primary:not([href]):not([tabindex]):focus,
.btn-primary:not([href]):not([tabindex]):hover {
  background-color: fColor('cgoldlight1');
  border-color: fColor('cgoldlight1');
  color: fColor('cwhite');
}
.btn-primary:active,
.btn-primary.active,
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.btn-primary:not(:disabled):not(.disabled):active,
.open .dropdown-toggle.btn-primary {
  background-color: fColor('cgold');
  border-color: fColor('cgold');
  color: fColor('cwhite');
  background-image: none;
}
.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active,
.btn-primary.active[disabled],
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
  background-color: fColor('cgrey');
  border-color: fColor('cgrey');
  color: fColor('cwhite');
}

.btn-success {
  background-color: fColor('cbule');
  border-color: fColor('cbule');
  color: fColor('cwhite');
}
.btn-success:focus,
.btn-success:hover,
.btn-success:not([href]):not([tabindex]):focus,
.btn-success:not([href]):not([tabindex]):hover {
  background-color: fColor('cbluelight1');
  border-color: fColor('cbluelight1');
  color: fColor('cwhite');
}
.btn-success:active,
.btn-success.active,
.btn-success:active:hover,
.btn-success.active:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.btn-success:not(:disabled):not(.disabled):active,
.open .dropdown-toggle.btn-success {
  background-color: fColor('cbule');
  border-color: fColor('cbule');
  color: fColor('cwhite');
  background-image: none;
}
.btn-success.disabled,
.btn-success.disabled:hover,
.btn-success.disabled:focus,
.btn-success.disabled:active,
.btn-success.disabled.active,
.btn-success[disabled],
.btn-success[disabled]:hover,
.btn-success[disabled]:focus,
.btn-success[disabled]:active,
.btn-success.active[disabled],
fieldset[disabled] .btn-success,
fieldset[disabled] .btn-success:hover,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success:active,
fieldset[disabled] .btn-success.active {
  background-color: fColor('cgrey');
  border-color: fColor('cgrey');
  color: fColor('cwhite');
}

.btn-info {
  background-color: fColor('cturquoise');
  border-color: fColor('cturquoise');
  color: fColor('cwhite');
}
.btn-info:focus,
.btn-info:hover,
.btn-info:not([href]):not([tabindex]):focus,
.btn-info:not([href]):not([tabindex]):hover {
  background-color: fColor('cturquoiselight1');
  border-color: fColor('cturquoiselight1');
  color: fColor('cwhite');
}
.btn-info:active,
.btn-info.active,
.btn-info:active:hover,
.btn-info.active:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.btn-info:not(:disabled):not(.disabled):active,
.open .dropdown-toggle.btn-info {
  background-color: fColor('cturquoise');
  border-color: fColor('cturquoise');
  color: fColor('cwhite');
  background-image: none;
}
.btn-info.disabled,
.btn-info.disabled:hover,
.btn-info.disabled:focus,
.btn-info.disabled:active,
.btn-info.disabled.active,
.btn-info[disabled],
.btn-info[disabled]:hover,
.btn-info[disabled]:focus,
.btn-info[disabled]:active,
.btn-info.active[disabled],
fieldset[disabled] .btn-info,
fieldset[disabled] .btn-info:hover,
fieldset[disabled] .btn-info:focus,
fieldset[disabled] .btn-info:active,
fieldset[disabled] .btn-info.active {
  background-color: fColor('cgrey');
  border-color: fColor('cgrey');
  color: fColor('cwhite');
}

.btn-warning {
  background-color: fColor('corange');
  border-color: fColor('corange');
  color: fColor('cwhite');
}
.btn-warning:focus,
.btn-warning:hover,
.btn-warning:not([href]):not([tabindex]):focus,
.btn-warning:not([href]):not([tabindex]):hover {
  background-color: fColor('corangelight1');
  border-color: fColor('corangelight1');
  color: fColor('cwhite');
}
.btn-warning:active,
.btn-warning.active,
.btn-warning:active:hover,
.btn-warning.active:hover,
.btn-warning:active:focus,
.btn-warning.active:focus,
.btn-warning:not(:disabled):not(.disabled):active,
.open .dropdown-toggle.btn-warning {
  background-color: fColor('corange');
  border-color: fColor('corange');
  color: fColor('cwhite');
  background-image: none;
}
.btn-warning.disabled,
.btn-warning.disabled:hover,
.btn-warning.disabled:focus,
.btn-warning.disabled:active,
.btn-warning.disabled.active,
.btn-warning[disabled],
.btn-warning[disabled]:hover,
.btn-warning[disabled]:focus,
.btn-warning[disabled]:active,
.btn-warning.active[disabled],
fieldset[disabled] .btn-warning,
fieldset[disabled] .btn-warning:hover,
fieldset[disabled] .btn-warning:focus,
fieldset[disabled] .btn-warning:active,
fieldset[disabled] .btn-warning.active {
  background-color: fColor('cgrey');
  border-color: fColor('cgrey');
  color: fColor('cwhite');
}

.btn-danger {
  background-color: fColor('cred');
  border-color: fColor('cred');
  color: fColor('cwhite');
}
.btn-danger:focus,
.btn-danger:hover,
.btn-danger:not([href]):not([tabindex]):focus,
.btn-danger:not([href]):not([tabindex]):hover {
  background-color: fColor('credlight1');
  border-color: fColor('credlight1');
  color: fColor('cwhite');
}
.btn-danger:active,
.btn-danger.active,
.btn-danger:active:hover,
.btn-danger.active:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.btn-danger:not(:disabled):not(.disabled):active,
.open .dropdown-toggle.btn-danger {
  background-color: fColor('cred');
  border-color: fColor('cred');
  color: fColor('cwhite');
  background-image: none;
}
.btn-danger.disabled,
.btn-danger.disabled:hover,
.btn-danger.disabled:focus,
.btn-danger.disabled:active,
.btn-danger.disabled.active,
.btn-danger[disabled],
.btn-danger[disabled]:hover,
.btn-danger[disabled]:focus,
.btn-danger[disabled]:active,
.btn-danger.active[disabled],
fieldset[disabled] .btn-danger,
fieldset[disabled] .btn-danger:hover,
fieldset[disabled] .btn-danger:focus,
fieldset[disabled] .btn-danger:active,
fieldset[disabled] .btn-danger.active {
  background-color: fColor('cgrey');
  border-color: fColor('cgrey');
  color: fColor('cwhite');
}

.btn-dark {
  background-color: fColor('cdark');
  border-color: fColor('cdark');
  color: fColor('cwhite');
}
.btn-dark:focus,
.btn-dark:hover,
.btn-dark:not([href]):not([tabindex]):focus,
.btn-dark:not([href]):not([tabindex]):hover {
  background-color: fColor('cdarklight1');
  border-color: fColor('cdarklight1');
  color: fColor('cwhite');
}
.btn-dark:active,
.btn-dark.active,
.btn-dark:active:hover,
.btn-dark.active:hover,
.btn-dark:active:focus,
.btn-dark.active:focus,
.btn-dark:not(:disabled):not(.disabled):active,
.open .dropdown-toggle.btn-dark {
  background-color: fColor('cdark');
  border-color: fColor('cdark');
  color: fColor('cwhite');
  background-image: none;
}
.btn-dark.disabled,
.btn-dark.disabled:hover,
.btn-dark.disabled:focus,
.btn-dark.disabled:active,
.btn-dark.disabled.active,
.btn-dark[disabled],
.btn-dark[disabled]:hover,
.btn-dark[disabled]:focus,
.btn-dark[disabled]:active,
.btn-dark.active[disabled],
fieldset[disabled] .btn-dark,
fieldset[disabled] .btn-dark:hover,
fieldset[disabled] .btn-dark:focus,
fieldset[disabled] .btn-dark:active,
fieldset[disabled] .btn-dark.active {
  background-color: fColor('cgrey');
  border-color: fColor('cgrey');
  color: fColor('cwhite');
}

.btn-default {
  background-color: inherit;
  border: 1px solid fColor('cgold');
  color: fColor('cgold');
}
.btn-default:focus,
.btn-default:hover,
.btn-default:not([href]):not([tabindex]):focus,
.btn-default:not([href]):not([tabindex]):hover {
  background-color: inherit;
  border: 1px solid fColor('cgoldlight1');
  color: fColor('cgoldlight1');
}
.btn-default:active,
.btn-default.active,
.btn-default:active:hover,
.btn-default.active:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.btn-default:not(:disabled):not(.disabled):active,
.open .dropdown-toggle.btn-default {
  background-color: inherit;
  border: 1px solid fColor('cgold');
  color: fColor('cgold');
}
.btn-default.disabled,
.btn-default.disabled:hover,
.btn-default.disabled:focus,
.btn-default.disabled:active,
.btn-default.disabled.active,
.btn-default[disabled],
.btn-default[disabled]:hover,
.btn-default[disabled]:focus,
.btn-default[disabled]:active,
.btn-default.active[disabled],
fieldset[disabled] .btn-default,
fieldset[disabled] .btn-default:hover,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default:active,
fieldset[disabled] .btn-default.active {
  background-color: inherit;
  border: 1px solid fColor('cgrey');
  color: fColor('cgrey');
}

.btn-default-dark {
  background-color: inherit;
  border: 1px solid fColor('cdark');
  color: fColor('cdark');
}
.btn-default-dark:focus,
.btn-default-dark:hover,
.btn-default-dark:not([href]):not([tabindex]):focus,
.btn-default-dark:not([href]):not([tabindex]):hover {
  background-color: inherit;
  border: 1px solid fColor('cgoldlight1');
  color: fColor('cgoldlight1');
}
.btn-default-dark:active,
.btn-default-dark.active,
.btn-default-dark:active:hover,
.btn-default-dark.active:hover,
.btn-default-dark:active:focus,
.btn-default-dark.active:focus,
.btn-default-dark:not(:disabled):not(.disabled):active,
.open .dropdown-toggle.btn-default-dark {
  background-color: inherit;
  border: 1px solid fColor('cgold');
  color: fColor('cgold');
}
.btn-default-dark.disabled,
.btn-default-dark.disabled:hover,
.btn-default-dark.disabled:focus,
.btn-default-dark.disabled:active,
.btn-default-dark.disabled.active,
.btn-default-dark[disabled],
.btn-default-dark[disabled]:hover,
.btn-default-dark[disabled]:focus,
.btn-default-dark[disabled]:active,
.btn-default-dark.active[disabled],
fieldset[disabled] .btn-default-dark,
fieldset[disabled] .btn-default-dark:hover,
fieldset[disabled] .btn-default-dark:focus,
fieldset[disabled] .btn-default-dark:active,
fieldset[disabled] .btn-default-dark.active {
  background-color: inherit;
  border: 1px solid fColor('cgrey');
  color: fColor('cgrey');
}

.btn-default-light {
  background-color: inherit;
  border: 1px solid fColor('cwhite');
  color: fColor('cwhite');
}
.btn-default-light:focus,
.btn-default-light:hover,
.btn-default-light:not([href]):not([tabindex]):focus,
.btn-default-light:not([href]):not([tabindex]):hover {
  background-color: inherit;
  border: 1px solid fColor('cgoldlight1');
  color: fColor('cgoldlight1');
}
.btn-default-light:active,
.btn-default-light.active,
.btn-default-light:active:hover,
.btn-default-light.active:hover,
.btn-default-light:active:focus,
.btn-default-light.active:focus,
.btn-default-light:not(:disabled):not(.disabled):active,
.open .dropdown-toggle.btn-default-light {
  background-color: inherit;
  border: 1px solid fColor('cgold');
  color: fColor('cgold');
}
.btn-default-light.disabled,
.btn-default-light.disabled:hover,
.btn-default-light.disabled:focus,
.btn-default-light.disabled:active,
.btn-default-light.disabled.active,
.btn-default-light[disabled],
.btn-default-light[disabled]:hover,
.btn-default-light[disabled]:focus,
.btn-default-light[disabled]:active,
.btn-default-light.active[disabled],
fieldset[disabled] .btn-default-light,
fieldset[disabled] .btn-default-light:hover,
fieldset[disabled] .btn-default-light:focus,
fieldset[disabled] .btn-default-light:active,
fieldset[disabled] .btn-default-light.active {
  background-color: inherit;
  border: 1px solid fColor('cgrey');
  color: fColor('cgrey');
}

.btn-link {
  color: fColor('cgold');
}
.btn-link:focus,
.btn-link:hover,
.btn-link:not([href]):not([tabindex]):focus,
.btn-link:not([href]):not([tabindex]):hover {
  color: fColor('cgoldlight1');
  text-decoration: none;
}
.btn-link:active,
.btn-link.active,
.btn-link:active:hover,
.btn-link.active:hover,
.btn-link:active:focus,
.btn-link.active:focus,
.btn-link:not(:disabled):not(.disabled):active,
.open .dropdown-toggle.btn-link {
  color: fColor('cgold');
  background-image: none;
}
.btn-link.disabled,
.btn-link.disabled:hover,
.btn-link.disabled:focus,
.btn-link.disabled:active,
.btn-link.disabled.active,
.btn-link[disabled],
.btn-link[disabled]:hover,
.btn-link[disabled]:focus,
.btn-link[disabled]:active,
.btn-link.active[disabled],
fieldset[disabled] .btn-link,
fieldset[disabled] .btn-link:hover,
fieldset[disabled] .btn-link:focus,
fieldset[disabled] .btn-link:active,
fieldset[disabled] .btn-link.active {
  color: fColor('cgrey');
}

.btn-link-dark {
  color: fColor('cdark');
}
.btn-link-dark:focus,
.btn-link-dark:hover,
.btn-link-dark:not([href]):not([tabindex]):focus,
.btn-link-dark:not([href]):not([tabindex]):hover {
  color: fColor('cgoldlight1');
  text-decoration: none;
}
.btn-link-dark:active,
.btn-link-dark.active,
.btn-link-dark:active:hover,
.btn-link-dark.active:hover,
.btn-link-dark:active:focus,
.btn-link-dark.active:focus,
.btn-link-dark:not(:disabled):not(.disabled):active,
.open .dropdown-toggle.btn-link-dark {
  color: fColor('cgold');
  background-image: none;
}
.btn-link-dark.disabled,
.btn-link-dark.disabled:hover,
.btn-link-dark.disabled:focus,
.btn-link-dark.disabled:active,
.btn-link-dark.disabled.active,
.btn-link-dark[disabled],
.btn-link-dark[disabled]:hover,
.btn-link-dark[disabled]:focus,
.btn-link-dark[disabled]:active,
.btn-link-dark.active[disabled],
fieldset[disabled] .btn-link-dark,
fieldset[disabled] .btn-link-dark:hover,
fieldset[disabled] .btn-link-dark:focus,
fieldset[disabled] .btn-link-dark:active,
fieldset[disabled] .btn-link-dark.active {
  color: fColor('cgrey');
}

.btn-link-light {
  color: fColor('cwhite');
}
.btn-link-light:focus,
.btn-link-light:hover,
.btn-link-light:not([href]):not([tabindex]):focus,
.btn-link-light:not([href]):not([tabindex]):hover {
  color: fColor('cgoldlight1');
  text-decoration: none;
}
.btn-link-light:active,
.btn-link-light.active,
.btn-link-light:active:hover,
.btn-link-light.active:hover,
.btn-link-light:active:focus,
.btn-link-light.active:focus,
.btn-link-light:not(:disabled):not(.disabled):active,
.open .dropdown-toggle.btn-link-light {
  color: fColor('cgold');
  background-image: none;
}
.btn-link-light.disabled,
.btn-link-light.disabled:hover,
.btn-link-light.disabled:focus,
.btn-link-light.disabled:active,
.btn-link-light.disabled.active,
.btn-link-light[disabled],
.btn-link-light[disabled]:hover,
.btn-link-light[disabled]:focus,
.btn-link-light[disabled]:active,
.btn-link-light.active[disabled],
fieldset[disabled] .btn-link-light,
fieldset[disabled] .btn-link-light:hover,
fieldset[disabled] .btn-link-light:focus,
fieldset[disabled] .btn-link-light:active,
fieldset[disabled] .btn-link-light.active {
  color: fColor('cgrey');
}

.dropdown-menu {
  padding: 0px;
  border-radius: fPm('xs');
  .dropdown-item {
    &:first-child {
      border-top-right-radius: fPm('xs');
      border-top-left-radius: fPm('xs');
    }
    &:last-child {
      border-bottom-right-radius: fPm('xs');
      border-bottom-left-radius: fPm('xs');
    }
    a {
      padding: fPm('xs');
    }
  }
  .dropdown-item:hover {
    color: fColor('cwhite');
    background-color: fColor('cgoldlight1');
  }
  .dropdown-item:active,
  .dropdown-item.active,
  .dropdown-item:active:hover,
  .dropdown-item.active:hover,
  .dropdown-item:active:focus,
  .dropdown-item.active:focus {
    color: fColor('cwhite');
    background-color: fColor('cgold');
  }
}
