@import './utils.scss';

// app colors
.c-black {
  color: fColor('cblack') !important;
}
.c-white {
  color: fColor('cwhite') !important;
}
.c-dark {
  color: fColor('cdark') !important;
}
.c-darklight1 {
  color: fColor('cdarklight1') !important;
}
.c-grey {
  color: fColor('cgrey') !important;
}
.c-greylight1 {
  color: fColor('cgreylight1') !important;
}
.c-gold {
  color: fColor('cgold') !important;
}
.c-goldlight1 {
  color: fColor('cgoldlight1') !important;
}
.c-green {
  color: fColor('cgreen') !important;
}
.c-greenlight1 {
  color: fColor('cgreenlight1') !important;
}
.c-orange {
  color: fColor('corange') !important;
}
.c-orangelight1 {
  color: fColor('corangelight1') !important;
}
.c-red {
  color: fColor('cred') !important;
}
.c-redlight1 {
  color: fColor('credlight1') !important;
}
.c-blue {
  color: fColor('cblue') !important;
}
.c-bluelight1 {
  color: fColor('cbluelight1') !important;
}

// generic colors
.c-generic-green {
  color: green !important;
}
.c-generic-red {
  color: red !important;
}
.c-generic-orange {
  color: orange !important;
}
