@import './utils.scss';
@import './colors.scss';
@import './tools.scss';
@import './titles.scss';
@import './buttons.scss';
@import './boxes.scss';

html {
  position: relative;
  min-height: 100%;
}

body {
  color: fColor('cdark');
  font-family: 'OpenSans';
  font-weight: normal;
  font-size: 14px;
}

button,
a {
  color: fColor('cdark');
  font-family: 'Quicksand';
  font-weight: 500;
  font-size: 14px;
}
