@import './utils.scss';

h1,
h2,
h3,
h4,
h5,
h6 {
  color: fColor('cdark');
  font-family: 'Quicksand';
  font-weight: normal;
  line-height: 1.5;
  padding: 0px;
  margin: 0px;
}

h1 {
  font-size: 36px;
}
h2 {
  color: fColor('cgold');
  font-size: 24px;
  font-weight: bold;
}
h3 {
  font-size: 18px;
  font-weight: bold;
}
h4 {
  font-size: 16px;
  font-weight: bold;
}
h5 {
  color: fColor('cgold');
  font-size: 14px;
  font-weight: bold;
}
h6 {
  font-size: 14px;
  font-weight: bold;
}
