@import './utils.scss';

.row-item-top {
  display: flex !important;
  align-items: flex-start !important;
}
.row-item-center {
  display: flex !important;
  align-items: center !important;
}
.row-item-bottom {
  display: flex !important;
  align-items: flex-end !important;
}

.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}

.text-normal {
  font-style: normal !important;
  font-weight: normal !important;
}
.text-bold {
  font-weight: bold !important;
}
.text-italic {
  font-style: italic !important;
}
.text-underline {
  text-decoration: underline !important;
}

.m-lg {
  margin: fPm('lg') !important;
}
.m-mdlg {
  margin: fPm('mdlg') !important;
}
.m-md {
  margin: fPm('md') !important;
}
.m-smmd {
  margin: fPm('smmd') !important;
}
.m-sm {
  margin: fPm('sm') !important;
}
.m-xssm {
  margin: fPm('xssm') !important;
}
.m-xs {
  margin: fPm('xs') !important;
}
.m-no {
  margin: fPm('no') !important;
}
.m-t-lg {
  margin-top: fPm('lg') !important;
}
.m-t-mdlg {
  margin-top: fPm('mdlg') !important;
}
.m-t-md {
  margin-top: fPm('md') !important;
}
.m-t-smmd {
  margin-top: fPm('smmd') !important;
}
.m-t-sm {
  margin-top: fPm('sm') !important;
}
.m-t-xssm {
  margin-top: fPm('xssm') !important;
}
.m-t-xs {
  margin-top: fPm('xs') !important;
}
.m-t-no {
  margin-top: fPm('no') !important;
}
.m-b-lg {
  margin-bottom: fPm('lg') !important;
}
.m-b-mdlg {
  margin-bottom: fPm('mdlg') !important;
}
.m-b-md {
  margin-bottom: fPm('md') !important;
}
.m-b-smmd {
  margin-bottom: fPm('smmd') !important;
}
.m-b-sm {
  margin-bottom: fPm('sm') !important;
}
.m-b-xssm {
  margin-bottom: fPm('xssm') !important;
}
.m-b-xs {
  margin-bottom: fPm('xs') !important;
}
.m-b-no {
  margin-bottom: fPm('no') !important;
}
.m-l-lg {
  margin-left: fPm('lg') !important;
}
.m-l-mdlg {
  margin-left: fPm('mdlg') !important;
}
.m-l-md {
  margin-left: fPm('md') !important;
}
.m-l-smmd {
  margin-left: fPm('smmd') !important;
}
.m-l-sm {
  margin-left: fPm('sm') !important;
}
.m-l-xssm {
  margin-left: fPm('xssm') !important;
}
.m-l-xs {
  margin-left: fPm('xs') !important;
}
.m-l-no {
  margin-left: fPm('no') !important;
}
.m-r-lg {
  margin-right: fPm('lg') !important;
}
.m-r-mdlg {
  margin-right: fPm('mdlg') !important;
}
.m-r-md {
  margin-right: fPm('md') !important;
}
.m-r-smmd {
  margin-right: fPm('smmd') !important;
}
.m-r-sm {
  margin-right: fPm('sm') !important;
}
.m-r-xssm {
  margin-right: fPm('xssm') !important;
}
.m-r-xs {
  margin-right: fPm('xs') !important;
}
.m-r-no {
  margin-right: fPm('no') !important;
}

.p-lg {
  padding: fPm('lg') !important;
}
.p-mdlg {
  padding: fPm('mdlg') !important;
}
.p-md {
  padding: fPm('md') !important;
}
.p-smmd {
  padding: fPm('smmd') !important;
}
.p-sm {
  padding: fPm('sm') !important;
}
.p-xssm {
  padding: fPm('xssm') !important;
}
.p-xs {
  padding: fPm('xs') !important;
}
.p-no {
  padding: fPm('no') !important;
}
.p-t-lg {
  padding-top: fPm('lg') !important;
}
.p-t-mdlg {
  padding-top: fPm('mdlg') !important;
}
.p-t-md {
  padding-top: fPm('md') !important;
}
.p-t-smmd {
  padding-top: fPm('smmd') !important;
}
.p-t-sm {
  padding-top: fPm('sm') !important;
}
.p-t-xssm {
  padding-top: fPm('xssm') !important;
}
.p-t-xs {
  padding-top: fPm('xs') !important;
}
.p-t-no {
  padding-top: fPm('no') !important;
}
.p-b-lg {
  padding-bottom: fPm('lg') !important;
}
.p-b-mdlg {
  padding-bottom: fPm('mdlg') !important;
}
.p-b-md {
  padding-bottom: fPm('md') !important;
}
.p-b-smmd {
  padding-bottom: fPm('smmd') !important;
}
.p-b-sm {
  padding-bottom: fPm('sm') !important;
}
.p-b-xssm {
  padding-bottom: fPm('xssm') !important;
}
.p-b-xs {
  padding-bottom: fPm('xs') !important;
}
.p-b-no {
  padding-bottom: fPm('no') !important;
}
.p-l-lg {
  padding-left: fPm('lg') !important;
}
.p-l-mdlg {
  padding-left: fPm('mdlg') !important;
}
.p-l-md {
  padding-left: fPm('md') !important;
}
.p-l-smmd {
  padding-left: fPm('smmd') !important;
}
.p-l-sm {
  padding-left: fPm('sm') !important;
}
.p-l-xssm {
  padding-left: fPm('xssm') !important;
}
.p-l-xs {
  padding-left: fPm('xs') !important;
}
.p-l-no {
  padding-left: fPm('no') !important;
}
.p-r-lg {
  padding-right: fPm('lg') !important;
}
.p-r-mdlg {
  padding-right: fPm('mdlg') !important;
}
.p-r-md {
  padding-right: fPm('md') !important;
}
.p-r-smmd {
  padding-right: fPm('smmd') !important;
}
.p-r-sm {
  padding-right: fPm('sm') !important;
}
.p-r-xssm {
  padding-right: fPm('xssm') !important;
}
.p-r-xs {
  padding-right: fPm('xs') !important;
}
.p-r-no {
  padding-right: fPm('no') !important;
}
