@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins/_breakpoints';

$colors: (
  cblack: #000000,
  cwhite: #ffffff,
  cdark: #111f2d,
  cdarklight1: #415364,
  cdarklight2: #556d83,
  cgrey: #b5b6b7,
  cgreylight1: #d5d6d7,
  cgreylight2: #f5f6f7,
  cprimary: #c8b372,
  csecondary: #1c2242,
);
@function fColor($key: 'cprimary') {
  @return map-get($colors, $key);
}
$pms: (
  no: 0px,
  noxs: 4px,
  xs: 8px,
  xssm: 12px,
  sm: 16px,
  smmd: 24px,
  md: 32px,
  mdlg: 48px,
  lg: 64px,
  lgxl: 96px,
  xl: 128px,
);
@function fPm($key: 'md') {
  @return map-get($pms, $key);
}
$box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.8);
$box-shadow-hover: 0 0 4px 0 rgba(0, 0, 0, 0.4);
@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}
@mixin transition-property($property...) {
  -moz-transition-property: $property;
  -o-transition-property: $property;
  -webkit-transition-property: $property;
  transition-property: $property;
}
@mixin transition-duration($duration...) {
  -moz-transition-property: $duration;
  -o-transition-property: $duration;
  -webkit-transition-property: $duration;
  transition-property: $duration;
}
@mixin transition-timing-function($timing...) {
  -moz-transition-timing-function: $timing;
  -o-transition-timing-function: $timing;
  -webkit-transition-timing-function: $timing;
  transition-timing-function: $timing;
}
@mixin transition-delay($delay...) {
  -moz-transition-delay: $delay;
  -o-transition-delay: $delay;
  -webkit-transition-delay: $delay;
  transition-delay: $delay;
}
@mixin border-radius($value) {
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value;
}
@mixin user-select($value) {
  -webkit-touch-callout: $value;
  -webkit-user-select: $value;
  -khtml-user-select: $value;
  -moz-user-select: $value;
  -ms-user-select: $value;
  user-select: $value;
}
@mixin box-shadow($value: $box-shadow) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  box-shadow: $value;
}
