<div class="player">
  <lib-box color="grey">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-4 p-0">
          <img class="img-thumbnail" [src]="player.strCutout || player.strThumb" />
        </div>
        <div class="col-8">
          <div class="text-bold">{{ player.strPlayer }}</div>
          <div class="attribute">{{ player.strPosition }}</div>
          <div class="attribute">{{ 'birth date' | translate | ucFirst }}: {{ player.dateBorn }}</div>
          <div class="attribute" *ngIf="player.strSigning">{{ 'price' | translate | ucFirst }}: {{ player.strSigning }}</div>
        </div>
      </div>
    </div>
  </lib-box>
</div>
