@import '../../../fdj-lib/assets/styles/utils.scss';

app-home,
:host {
  .home {
    .img-link {
      border-radius: 8px;
      box-shadow: $box-shadow;
    }
    .img-link:hover {
      box-shadow: $box-shadow-hover;
    }
  }
}
