<div class="teams" *ngIf="teams && teams.length">
  <div class="container">
    <div class="p-t-md p-b-md">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 m-b-sm" *ngFor="let team of teams">
          <app-team [team]="team"></app-team>
        </div>
      </div>
    </div>
  </div>
</div>
