@import '../../fdj-lib/assets/styles/utils.scss';

body {
  margin-bottom: 220px;
  font-family: 'Nunito', sans-serif;
}

a {
  cursor: pointer;
  font-weight: normal;
  color: fColor('cblack');
}

a:hover {
  opacity: 0.8;
  color: fColor('cblack');
  text-decoration: none;
}

h2 {
  color: fColor('cprimary');
  font-size: 40px;
  border-bottom: 3px solid #e1e2e9;
  font-weight: normal;
  margin-bottom: fPm('md');
}
@include media-breakpoint-down(sm) {
  h2 {
    font-size: 32px;
  }
}

.map {
  overflow: hidden;
  agm-map {
    height: 400px;
  }
}

.icon-round {
  height: 44px;
  min-width: 44px;
  border-radius: 22px;
  border: 1px solid #e1e2e9;
  background-color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  vertical-align: middle;
  font-size: 12px;
  .fas {
    color: #1c2242;
    font-size: 20px;
  }
}

.link {
  color: fColor('cprimary');
}
