<div class="players" *ngIf="players && players.length">
  <div class="container">
    <div class="p-t-md p-b-md">
      <div class="row">
        <div class="col-lg-4 col-md-6 m-b-sm" *ngFor="let player of players">
          <app-player [player]="player"></app-player>
        </div>
      </div>
    </div>
  </div>
</div>
